header{
    text-align: center;
    color: green;
    text-shadow: greenyellow 2px 2px 5px;
    margin: auto;
    padding: 5px;
    border: 2px solid brown;
    background-color: burlywood;
}
h2{
    font-weight: bolder;
    /* background-color: burlywood; */
}
th {
    background-color: peru;
    color: green;
}
body{
    background-image: url(./image/395191_306740626040464_1744794415_n.jpg);
}
.intro {
    background-color: burlywood;
}
.data {
    background-color: burlywood;
}